# Auto-detect the target platform except for Android.
build --enable_platform_specific_config
build:android --noenable_platform_specific_config

# Use C++17 as a default language.
common --cxxopt=-std=c++17
common --host_cxxopt=-std=c++17

# Supress warnings from external libraries.
build:linux --per_file_copt=external/.*@-w
build:android --per_file_copt=external/.*@-w

# Band config for backend setting.
common:tflite --define tflite=true
common:tflite --copt=-DBAND_TFLITE
common:tflite --cxxopt=-DBAND_TFLITE
build:tflite --action_env BAND_TFLITE=true

# Band config for trace setting.
common:trace --define trace=true
common:trace --copt=-DBAND_TRACE
common:trace --cxxopt=-DBAND_TRACE
build:trace --action_env DBAND_TRACE=true

# Linux config for Band Engine.
common:linux_x86_64 --config=linux
common:linux_x86_64 --cpu=k8
common:linux_x86_64_tflite --config=linux_x86_64
common:linux_x86_64_tflite --config=tflite
common:linux_x86_64_tflite_opencl --config=linux_x86_64_tflite
common:linux_x86_64_tflite_opencl --define gpu=nvidia-opencl
common:linux_x86_64_tflite_opencl --copt=-DCL_TARGET_OPENCL_VERSION=300
common:linux_x86_64_tflite_opencl --copt=-DCL_DELEGATE_NO_GL
common:linux_x86_64_tflite_opencl --copt=-DEGL_NO_X11

# Android config for Band Engine.
build:android --crosstool_top=//external:android/crosstool
build:android --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
common:android_arm64 --config=android
common:android_arm64 --cpu=arm64-v8a
common:android_arm64 --fat_apk_cpu=arm64-v8a
common:android_arm64_tflite --config=android_arm64
common:android_arm64_tflite --config=tflite
# List all backends
common:android_arm64_all --config=android_arm64
common:android_arm64_all --config=tflite

# Windows config for Band Engine.
common:windows --copt=/D_USE_MATH_DEFINES
common:windows --host_copt=/D_USE_MATH_DEFINES
common:windows --copt=-DWIN32_LEAN_AND_MEAN
common:windows --host_copt=-DWIN32_LEAN_AND_MEAN
common:windows --copt=-DNOGDI
common:windows --host_copt=-DNOGDI
common:windows --copt=/Zc:preprocessor
common:windows --host_copt=/Zc:preprocessor
common:windows --linkopt=/OPT:REF
common:windows --host_linkopt=/OPT:REF
common:windows --linkopt=/OPT:ICF
common:windows --host_linkopt=/OPT:ICF
common:windows --verbose_failures
common:windows --features=compiler_param_file
common:windows --distinct_host_configuration=false
test:windows --enable_runfiles

common:windows_tflite --config=windows
common:windows_tflite --config=tflite

try-import %workspace%/.band_android_config.bazelrc
try-import %workspace%/.tflite_config.bazelrc
