# Bazel build directories
bazel-band
bazel-bin
bazel-out
bazel-testlogs

# Configuration files
.band_android_config.bazelrc

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild
*.aar

# Python cache
__pycache__/

# test
log.json
log.tsv
band.aar

# vscode
.vscode/

# script/
/bin
/benchmark
/test_bin

# mac icloud
*.icloud

# experiment
experiments/*.png


*.run
